.head-card{
    background-color:#00509d ;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 700px;
    margin:  0 auto ;
    padding: 1em;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.head-card >div{
    width: 80%;
    text-transform: uppercase;
    text-align: center;
}


.head-card img{
    width:140px;
}